# Python virtual environment
.venv/

# Editor settings (VS Code)
.vscode/

# Python cache files (generated automatically during runtime)
__pycache__/
*.pyc
*.pyo
*.pyd

# Contains the CSV used in finding recommendations (download from Kaggle instead)
data/